// palette #1

$color-accent: #FFF70C
$color-border: #C8CDCB
$color-background-body: #F1F1F1
$color-bacground-footer: #191919
$color-text: #252525
$color-border-footer: $color-text
$color-text-footer: #434343
$color-text-hover-footer: #757575
