
/*
font-family: 'Poiret One', cursive;

font-family: 'Stalemate', cursive;

#F1F1F1 - color grey background
#252525 - color grey text, footer border
#C8CDCB - color grey border
#191919 - color grey footer background
#434343 - color grey text footer
#757575 - color grey hover footer
#FFF70C - color yellow
*/

html,
body {
	width: 100vw;
	height: 100vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	color: #333333;
}

.hidden {
	display: none;
}

ul {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

section,
footer,
.contact-form,
#gallery-products {
	border-bottom: 1px solid #aaa;
	position: relative;
}

/*-------FIRST PAGE-------*/
#intro {
	height: 100vh;
	width: 100vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

#intro::after {
	content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url(../img/subtle-dark-vertical.png) repeat;
}

.main-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	-ms-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main-logo a {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
}

.main-logo a img {
	width: 100%;
	height: 100%;
	max-height: 220px;
	max-width: 368px;
}

.main-logo h1,
header .back {
	text-indent: -9999px;
	margin: 0;
	line-height: 0;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	color: #aaa;
	font-weight: normal;
}


header {
	width: 100vw;
	height: 15vh;
	padding: 2% 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	top: 0;
	background-color: #191919;
}

header .back {
	display: block;
	height: 96%;
	width: 40%;
	text-indent: -9999px;
	background: url(../img/Logo_bez_tla.svg) no-repeat center center;
	background-size: auto 100%;
}

header nav {
	display: block;
	width: 60%;
	height: 96%;
}

li {
	display: inline-block;
	margin-left: 1em;
	position: relative;
}

header .contact {
	position: absolute;
	top: 50%;
	right: 1em;
	-ms-transform:translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: 60%;
	height: 100%;
	-webkit-padding-start: 0;
	text-align: center;
}

.contact li {
	font-size: 0.8em;
	-webkit-transition: 1s ease all;
  	-moz-transition: 1s ease all;
  	transition: 1s ease all;
  	line-height: 6vh;
 	color: #aaa;
}

header .contact li:hover {
	color: #fff;
}

header .social {
	display: none;
}

/*-------icons for header---------*/

.facebook-top {
	background-image: url(../img/facebook-alt1.svg);
}

.facebook-top:hover {
	background-image: url(../img/facebook-alt1_hover.svg);
}

.pinterest-top {
	background-image: url(../img/pinterest-alt1.svg);
}

.pinterest-top:hover {
	background-image: url(../img/pinterest-alt1_hover.svg);
}

.instagram-top {
	background-image: url(../img/instagram1.svg);
}

.instagram-top:hover {
	background-image: url(../img/instagram1_hover.svg);
}

/*--------icons for footer---------*/

.facebook {
	background-image: url(../img/facebook-alt.svg);
}

.facebook:hover {
	background-image: url(../img/facebook-alt_hover.svg);
}

.pinterest {
	background-image: url(../img/pinterest-alt.svg);
}

.pinterest:hover {
	background-image: url(../img/pinterest-alt_hover.svg);
}

.instagram {
	background-image: url(../img/instagram.svg);
}

.instagram:hover {
	background-image: url(../img/instagram_hover.svg);
}

.main-photo {
	width: 100vw;
	height: 30vh;
	position: relative;
}

.main-photo li {
	margin: 0;
}

.ei-slider,
.ei-slider-large {
	width: 100%;
	height: 100%;
	display: block;
	z-index: -10
}

.ei-title {display: none;}

#main-products {
	width: 100vw;
	padding: 0 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#main-products::before {
	content: '';
	position: absolute;
	padding: 0;
	width: 100vw;
	height: 100%;
	left: 0;
	background: url(../img/subtle-dark-vertical.png) repeat;
}

h3 {
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 1em;
	position: relative;
}

.prod-1 {
	background: url(../img/posciel4-L.jpg) no-repeat bottom;
}

.prod-2 {
	background: url(../img/poduszka_3L.jpg) no-repeat bottom;
}

.prod-3 {
	background: url(../img/posciel2-L.jpg) no-repeat bottom;
}

.prod-4 {
	background: url(../img/Domek_3L.JPG) no-repeat bottom;
}

.prod-img {
	width: 16em;
	height: 11.2em;
	max-height: 335px;
	max-width: 500px;
	position: relative;
	display: block;
	background-size: 100% auto;
	margin: 4% auto;
}

.descr {
	display: block;
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
	padding: 1em;
	position: absolute;
	bottom: 0;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.4);
}

/*____________THIRD PAGE__________*/

#about,
#gallery-products {
	width: 100%;
	position: relative;
	padding: 16vh 3% 16vh 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#gallery-products::before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 100%;
	left: 0;
	top: 0;
	background: url(../img/subtle-dark-vertical.png) repeat;
}

#about p {
	display: inline-block;
	margin: 0 1.5em 1em;
	position: relative;
	text-align: justify;
}

.img-about {
	display: none;
}

#gallery-products .products {
	margin: 0 auto;
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
}

.products li {
	width: 70vw;
	height: 60vw;
	position: relative;
	margin: 0 auto 1em;
	padding: 1.2em;
	border: 1px solid #aaa;
	border-radius: 0.3em;
}

.products li img {
	display: block;
	width: 100%;
	height: auto;
}

.products li p {
	margin: 0.5em auto;
}

/*_____FOURTH PAGE______*/

#contact-form {
	width: 100vw;
	height: 85vh;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 16vh;
}

form {
	width: 70%;
	position: relative;
	top: 35%;
	left: 50%;
	-ms-transform:translate(-50%, -35%);
	-moz-transform: translate(-50%, -35%);
	-webkit-transform: translate(-50%, -35%);
	transform: translate(-50%, -35%);
}

#contact-form .group {
	position: relative;
	display: block;
	padding: 0.3em 0;
	margin-bottom: 0.3em;
}

#contact-form #mail,
#contact-form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	height: 2em;
	padding: 0.2em;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	font-size: 1em;
	line-height: 1.1em;
}

#contact-form textarea {
	resize: none;
	height: 30vh;
}

#contact-form button {
	background-color: #aaa;
	display: block;
	width: 40%;
	cursor: pointer;
	color: #ddd;
	font-size: 0.9em;
	text-decoration: none;
	text-transform: uppercase;
	margin: 1em auto;
	padding: 0.7em 1.2em;
	border-radius: 5px;
	-webkit-transition: 1s ease all;
  	-moz-transition: 1s ease all;
  	transition: 1s ease all;
  	border: 0;
}

#contact-form button:hover {
	background-color: #3d3d3d;
	color: #FFF70C;
}

.group .bar {
	margin: -1px;
}

#footer-social {
	height: 10vh;
	width: 100vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding: 3vh;
	background-color: #D5D5D5;
	border-top: 1px solid #aaa;
}

#footer-social ul {
	display: inline-block;
	height: 4vh;
	position: relative;
	padding: 0;
	margin: 0 auto;
	left: 50%;
	-ms-transform:translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#footer-social li:first-child {
	margin-left: 0;
}

#footer-social ul li a {
	height: 4vh;
	width: 4vh;
	margin-right: 2em;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#footer-social ul li a:last-child {
	margin-right: 0;
}

footer {
	background-color: #191919;
	color: #aaa;
	width: 100vw;
	padding: 0 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer nav {
	width: 80%;
	margin: 0 1em 3em;
}

footer nav ul {
	padding: 0;
	margin: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

footer nav ul li a {
	display: inline-block;
	padding: 2em 0 1em;
}

footer nav ul li:last-child {
	padding-top: 1.5em;
}

footer nav ul li div a {
	display: inline-block;
	padding: 1em 0;
}

footer nav ul li .bar {
	position: absolute;
	width: 55%;
	margin: 0.3em 0;
	bottom: 12%;
}

footer nav ul li div .last-bar {
	margin: 35% 0;
}

footer a:hover {
	color: #fff;
}

/*CHERRY DOTS link*/
footer p,
footer .cherry-dots {
	position: absolute;
	margin: 1em 0.8em 0.8rem;
	bottom: 0;
}

footer a {
	right: 1em;
}

footer p {
	right: 6em;
	font-size: 0.8em;
	color: #5a5a5a;
}

/*----------------------------*/
@media (min-width: 350px) {

header .back {
	z-index: 10;
}

.contact li {
	font-size: 0.8em;
  	position: relative;
  	top: 50%;
  	-ms-transform:translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.prod-img {
	position: relative;
	width: 80%;
}

}

/*----------------------------*/
@media (min-width: 350px) and (orientation: landscape) {
	.main-logo {
		width: 40%;
	}

	.main-logo h2 {
		font-size: 1.2em;
	}

	#header {
		padding: 0.2em;
	}

	.contact li {
		position: relative;
		top: 50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.products li {
		width: 40vw;
		height: 55vh;
		padding: 0.8em;
	}

	#contact-form {
		height: 120vh;
	}

	footer nav ul li a {
		padding: 2em 0 0.6em;
		font-size: 0.8em;
	}

	footer nav ul li .bar {
		bottom: 0%;
	}

}

/*----------------------------*/
@media (min-width: 560px) {

	.contact li {
		font-size: 1em;
	}

	.prod-img {
		width: 80%;
	}

	.descr {
		font-size: 1em;
	}

	.products li p {
		margin-top: 1em;
	}

	#about p {
		display: block;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.6em;
	}

	#gallery-products .products li {
		max-width: 300px;
		max-height: 300px;

	}

}

/*----------------------------*/
@media (min-width: 560px) and (orientation:landscape) {

	.prod-img {
		width: 50%;
	}

	#gallery-products .products li {
		width: 35vw;
		height: 50vh;
	}
}

/*----------------------------*/
@media (min-width: 630px) {

	h3 {
		font-size: 1.3em;
	}

	header .back {
		width: 25%;
	}

	header .contact {
		width: 41%;
	}

	header .social {
		display: block;
		width: 30%;
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 35% 0 0;
		height: 100%;
		-webkit-padding-start: 0;
	}

	header .social li {
		position: relative;
		top: 50%;
		-ms-transform:translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	header .social li a {
		height: 3vw;
		width: 3vw;
		margin-right: 1.2em;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

	#main-products {
		overflow: hidden;
	}

	.prod-img {
		display: inline-block;
		width: 40vw;
		margin-top: 0;
	}

	.prod-1,
	.prod-3 {
		margin: 2%;
		float: left;
	}

	.prod-2,
	.prod-4 {
		margin: 2%;
		float: right;
	}

	#gallery-products .products {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;

		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;

		width: 90%;
		position: relative;
		margin: 0 auto 2em;
	}

	#gallery-products .products li {
		width: 30vw;
		height: 30vw;
		margin: 1em;
	}

	form {
		width: 50%;
	}

	footer nav {
		width: 90%;
		position: relative;
		margin: 0 auto 3em;
	}

	footer nav ul {
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	footer nav ul li {
		margin-left: 2em;
	}

	footer nav ul li .bar {
		width: 100%;
	}
}

/*----------------------------*/
@media (min-width: 630px) and (orientation: landscape) {

	.prod-img {
		width: 40vw;
		height: 50vh;
	}

}

/*----------------------------*/
@media (min-width: 700px) {

	.prod-img {
		height: 25vh;

	}

	header .social li a {
		margin-right: 1.8em;
	}
}

/*----------------------------*/
@media (min-width: 700px) and (orientation: landscape) {

	.prod-img {
		height: 50vh;

	}

	header .social li a {
		margin-right: 1.8em;
	}

}

/*----------------------------*/
@media (min-width: 740px) {

	.prod-img {
		width: 40vw;
	}
}

/*----------------------------*/
@media (min-width: 840px) {

	header {
		padding: 1%;
	}

	header .contact {
		width: 35%;
	}

	header .contact li {
		font-size: 1.1em;
	}

	header .social {
		margin-right: 35%;
		width: 30%;
	}

	header .social li a {
		width: 5vh;
		max-width: 2em;
		height: 5vh;
		max-height: 2em;
	}

	.prod-1{
		margin-left: 3%;
	}

	.prod-2{
		margin-right: 3%;
	}

	#gallery-products .products {
		width: 95%;
	}

	#gallery-products .products li {
		width: 17vw;
		height: 37vh;
		margin: 0.3em;
		padding: 0.5em;
	}

	footer nav {
		width: 80%;
		max-width: 700px;
	}
}

/*----------------------------*/
@media (min-width: 840px) and (orientation: portrait) {

	#gallery-products .products li {
		height: 22vh;
	}
}

/*----------------------------*/
@media (min-width: 900px) and (orientation: landscape) {

	.prod-img {
		height: 30vh;
	}

	#about p {
		width: 70%;
		font-size: 1.1em;
		line-height: 1.6em;
	}

	#gallery-products .products li {
		height: 28vh;
	}
}


/*----------------------------*/
@media (min-width: 1000px) {

	.prod-img {
		height: 35vh;
		width: 35vw;
	}

	.prod-1,
	.prod-3{
		margin-left: 10%;
	}

	.prod-2,
	.prod-4 {
		margin-right: 10%;
	}

}

/*----------------------------*/
@media (min-width: 1100px) {

* {
	font-weight: bold;
}

#about,
#gallery-products,
#contact-form {
	padding-top: 0;
}

#about {
	padding-bottom: 2em;
}

.ei-title {
	display: block;
}


/*--------Scroll plugin--------*/
html.fsvs {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }
  html.fsvs #fsvs-body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%; }
    html.fsvs #fsvs-body > * {
      height: 100%;
      width: 100%;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000; }
  html.fsvs #fsvs-pagination {
    margin: 0;
    padding: 8px 4px;
    position: fixed;
    height: auto;
    right: -100px;
    top: 50%;
    z-index: 999;
    width: 32px; }
    html.fsvs #fsvs-pagination li {
      list-style: none;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      margin: 0 0 10px 0;
      cursor: pointer; }
      html.fsvs #fsvs-pagination li > span {
        border-radius: 100%;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #aaa;
        display: block; }
        html.fsvs #fsvs-pagination li > span > span {
          border-radius: 100%;
          width: 22px;
          height: 22px;
          line-height: 22px;
          border: 1px solid #aaa;
          display: block;
          margin: 4px; }
      html.fsvs #fsvs-pagination li.active > span {
        border: 1px dashed #aaa; }
          html.fsvs #fsvs-pagination li.active > span > span {
          background-image: url(../img/icon.png);
          background-size: cover; }
      html.fsvs #fsvs-pagination li:last-child {
        margin: 0; }



/*-------SECOND PAGE-------*/

.viewport {
	width: 100vw;
	height: 100vh;
}

header {
	position: relative;
	width: 100vw;
}

.main-photo {
	height: 85vh;
	background-size: 100% 70%;
}

#image-gallery {
	width: 100vw;

	position: relative;
}

#main-products {
	height: 100vh;
}

.prod-img {
	position: relative;
	min-width: 30vw;
}

.prod-1,
.prod-3 {
	margin-left: 5%;
}

.prod-2,
.prod-4 {
	margin-right: 5%;
}

#about {
	height: 100vh;
}

#about p {
	width: 70%;
	font-size: 1.2em;
	line-height: 1.6em;
}

#gallery-products {
	height: 100vh;
}

#gallery-products .products {
	position: absolute;
	top: 40%;
	-ms-transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	transform: translateY(-40%);
}

#gallery-products .products li {
	height: 43vh;
}

#gallery-products .products li a p {
	font-size: 1.2em;
}

form {
	top: 25%;
}

#contact-form {
	height: 60vh;
}

#contact-form textarea {
	height: 20vh;
}

footer {
	height: 30vh;
}

.bar {
	position: relative;
	width: 100%;
	margin: 0.1em 0;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	position: absolute;
	background-color: #FFF70C;
	-webkit-transition: 0.2s ease all;
  	-moz-transition: 0.2s ease all;
  	transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

.contact li a:hover ~ .bar:before, /*nawigacja kontakt poczatek*/
.contact li a:hover ~ .bar:after, /*nawigacja kontakt poczatek*/
.social li a:hover ~ .bar:before, /*nawigacja linki social poczatek*/
.social li a:hover ~ .bar:after, /*nawigacja linki social poczatek*/
#footer-contact nav ul li a:hover ~ .bar:before, /*linki glowna stopka*/
#footer-contact nav ul li a:hover ~ .bar:after, /*linki glowna stopka*/
#footer-social ul li a:hover ~ .bar:before, /*linki social przed stopka*/
#footer-social ul li a:hover ~ .bar:after, /*linki social przed stopka*/
input:focus ~ .bar:before, /*formularz*/
input:focus ~ .bar:after, /*formularz*/
textarea:focus ~ .bar:before, /*formularz*/
textarea:focus ~ .bar:after /*formularz*/ {
	width:50%;
}

.prod-img {
	overflow: hidden;
}

.descr {
	font-size: 1.3em;
	text-align: center;
	text-transform: uppercase;
	padding: 1em;
	height: 4em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	bottom: -4em;
	-webkit-transition: 1s ease all;
  	-moz-transition: 1s ease all;
  	transition: 1s ease all;
}

.prod-img:hover .descr {
	display: block;
	bottom: 0;
}

footer nav ul li .bar {
	bottom: 4em;
}

/*----------------------------*/
@media (min-width: 1100px) and (min-height: 600px) {

	#gallery-products .products li {
	height: 38vh;
}

}

/*----------------------------*/
@media (min-width: 1100px) and (min-height: 700px) {

	#gallery-products .products li {
	height: 35vh;
}

}

/*----------------------------*/
@media (min-width: 1100px) and (min-height: 800px) {

	#gallery-products .products li {
	height: 31vh;
}

}

/*----------------------------*/
@media (min-width: 1100px) and (min-height: 1000px) {

	#gallery-products .products li {
	height: 29vh;
}

}
/*----------------------------*/
@media (min-width: 1300px){

header {
	padding: 0.5em;
	height: 10vh;
}

.main-photo {
	height: 90vh;
	display: block;
	margin-right: auto;
}

.ei-slider,
.ei-slider-large {
	max-width: 1500px;
	max-height: 680px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.ei-slider-large li img {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}

.prod-1,
.prod-3 {
	margin-left: 7%;
}

.prod-2,
.prod-4 {
	margin-right: 7%;
}

#gallery-products .products li {
	max-width: 20vw;
	max-height: 43vh;
}

}
